<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>影视会员商城-购物车</title>
    <link rel="stylesheet" th:href="@{mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{mall/css/common.css}">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{mall/styles/cart.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/mall/css/bootstrap.css}">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<div class="container" style="margin-top: 10%">
    <div class="row">
<!--        <div class="col-md-2 col-lg-1">-->
<!--            <img style="width: 100px;height: 100px;" src="mall/image/new-bee-logo-3.png"/>-->
<!--        </div>-->
        <div class="col-6 col-lg-4 wxts fl ml20">
            <span class="wdgwc">购物车</span>
<!--            温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算-->
        </div>
        <div class="clear"></div>
    </div>
    <div class="cart_line"></div>
    <div class="cart_bg">
        <th:block th:if="${#lists.isEmpty(myShoppingCartItems)}">
            <div class="list center">
                <!-- todo 无购物项时 换背景图 -->
                无数据
            </div>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(myShoppingCartItems)}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">商品名称</th>
                    <th scope="col">单价</th>
                    <th scope="col">数量</th>
                    <th scope="col">小计</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${myShoppingCartItems}">
                    <tr>
                        <td class="cover"><img th:src="@{${item.goodsCoverImg}}"></td>
                        <td><div class="sub_content fl ft20" th:text="${item.goodsName}">商品名称</div></td>
                        <td>
                            <div th:text="${item.sellingPrice+'元'}">1299元</div>
                        </td>
                        <td>
                            <input class="goods_count" th:id="${'goodsCount'+item.cartItemId}" type="number"
                                   th:onblur="'updateItem('+${item.cartItemId}+')'"
                                   th:value="${item.goodsCount}" step="1" min="1"
                                   max="5">
                        </td>
                        <td>
                            <div class="sub_content fl" th:text="${item.goodsCount*item.sellingPrice+'元'}">1299元</div>
                        </td>
                        <td>
                            <div class="sub_content fl"><a href="##" th:onclick="'deleteItem('+${item.cartItemId}+')'">×</a>
                            </div>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td>共<span th:text="${itemsTotal}">13</span>件商品</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="">
                        <span th:text="${priceTotal}+'.00元'">1299.00元</span>
                    </td>
                    <td>
                        <th:block th:unless="${itemsTotal == 0}">
                            <input class="order_button_d" type="button" name="settle"
                               onclick="settle()"
                               value="去结算"/>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript">

    /**
     * 购物车中数量为0时提示
     */
    function tip() {
        swal("购物车中无数据，无法结算", {
            icon: "error",
        });
    }

    /**
     * 跳转至结算页面
     */
    function settle() {
        window.location.href = '/shop-cart/settle'
    }

    /**
     *更新购物项
     *
     * todo 判断是否与原值相同
     */
    function updateItem(id) {
        var domId = 'goodsCount' + id;
        var goodsCount = $("#" + domId).val();
        if (goodsCount > 5) {
            swal("单个商品最多可购买5个", {
                icon: "error",
            });
            return;
        }
        if (goodsCount < 1) {
            swal("数量异常", {
                icon: "error",
            });
            return;
        }
        var data = {
            "cartItemId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'PUT',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    window.location.reload();
                } else {
                    swal("操作失败", {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }

    /**
     * * 删除购物项
     * @param id
     */
    function deleteItem(id) {
        swal({
            title: "确认弹框",
            text: "确认要删除数据吗?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((flag) => {
                if (flag) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/shop-cart/' + id,
                        success: function (result) {
                            if (result.resultCode == 200) {
                                window.location.reload();
                            } else {
                                swal("操作失败", {
                                    icon: "error",
                                });
                            }
                        },
                        error: function () {
                            swal("操作失败", {
                                icon: "error",
                            });
                        }
                    });
                }
            }
        )
        ;
    }
</script>
</html>
